<%- include('./partials/header') %>
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">

                                <% if(media && media._id){ %>
                                    <h4 class="mb-0 font-size-18">Edit Media Showcase</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Media Showcase</a>
                                            </li>
                                            <li class="breadcrumb-item active">Edit Media Showcase</li>
                                        </ol>
                                    </div>
                                <% } else{ %>
                                    <h4 class="mb-0 font-size-18">Add Media Showcase</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Media Showcase</a>
                                            </li>
                                            <li class="breadcrumb-item active">Add Media Showcase</li>
                                        </ol>
                                    </div>
                                <% } %>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div id="response-modal" style="display: none;" class="alert" role="alert">
                                        
                                    </div>
                                    <form method="POST" id="media-form">
                                        <input type="hidden" id="id" name="id"  value="<%= media && media._id %>">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="title">Title</label>
                                                <input name="title" type="text" class="form-control" id="title"
                                                    placeholder="Type here" value="<%= media && media.title %>">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="title">Banner Image</label>
                                                <input name="banner" type="file" class="form-control" id="title"
                                                    placeholder="Type here">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">About The project</label>
                                                <textarea name="about" class="form-control" id="exampleFormControlTextarea1"
                                                    rows="3" placeholder="type here"><%= media && media.about %></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Description (Optional)</label>
                                                <textarea name="desc" class="form-control" id="exampleFormControlTextarea1"
                                                    rows="3" placeholder="type here"><%= media && media.desc %></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="title">Upload Multiple files (Images)</label>
                                                <input name="attachments" type="file" class="form-control" id="multiple-file" multiple accept="image/*,video/*"
                                                    placeholder="Type here">
                                            </div>
                                        </div>
                                        <% media && media.videos.forEach(function(data,key) { %>
                                            <!-- <input type="hidden" id="id" name="id"  value="<%= data && data._id %>"> -->

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="title">Url</label>
                                                    <input class="form-control" placeholder="Type here"
                                                    type="text" name="url" value="<%= data && data.url %>">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="title">Upload Thumbnail</label>
                                                    <input class="form-control" placeholder="Upload" type="file" name="thumbnail" value="/images/media/<%= data.thumbnail %>">
                                                </div>
                                            </div>
                                            <div class="col-md-2 mb-3">
                                                <img src="/images/media/<%= data.thumbnail %>" style="object-fit: contain;" height="80" width="100%" alt="">
                                            </div>
                                            <div class="col-md-1 text-left" style="display: flex;align-items: center;gap: 10px;">
                                                <button type="button" class="btn btn-primary" id="btnfileSubmit">submit</button>
                                                <button type="button" class="btn btn-danger" id="btnfileDelete">delete</button>
                                            </div>
                                        <% }) %>
                                    
                                        <!-- ADD NEW URL HERE -->
                                        <div class="col-md-12 mb-5">
                                            <div id="dynamic-form" x-data="{ CONTROLLER }">
                                                <table id="dynamic-form-table">
                                                    <thead>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                <template data-target="#dynamic-form-table tbody">
                                                    <tr class="dynamic-row" data-index="1">
                                                        <td class="w-50 ps-0 p-2">
                                                            <input class="form-control" placeholder="Type here" type="text" name="url">
                                                        </td>
                                                        <td class="w-50 p-2"><input class="form-control" placeholder="Upload" type="file" name="thumbnail"></td>
                                                        <td>
                                                            <button class="delete-button btn btn-danger" @click="controller.deleteRow()">Delete</button>
                                                        </td>
                                                    </tr>
                                                </template>


                                                <a id="add-button" class="btn btn-dark text-white">Add Video Url & Thumbnail</a>
                                            </div>
                                        </div>

                                        <div class="col-md-12 d-flex">
                                            <button id="media-button" type="submit"
                                                class="btn btn-primary waves-effect waves-light d-flex align-items-center">Submit
                                                <div style="display: none;" class="spinner-border" id="spinner-loader" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </button>
                                            <button type="reset"
                                                class="btn btn-secondary waves-effect waves-light ml-2">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                                </div> <!-- end card-body-->
                            </div>
                        </div> <!-- end col -->

                    </div>
                    <!-- end row-->




                    



                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->



    <!-- THIS IS NEW CODE FOR EDITING -->

    <!-- END -->
    
    <%- include('./partials/footer') %>