<%- include('./partials/header'); %>
<div id="page-transition">
	<div class="ptr-overlay"></div>
	<div class="ptr-preloader">
		<div class="ptr-prel-content">
			<h1>Weaving Stories</h1>
		</div> <!-- /.ptr-prel-content -->
	</div> <!-- /.ptr-preloader -->
</div>
<!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->

				<div id="content-wrap">
					

					<!-- *************************************
					*********** Begin page content *********** 
					************************************** -->
					<div id="page-content">


						<!-- =======================
						///// Begin tt-section /////
						============================ 
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
						<div id="sdc-target" class="tt-section padding-top-xlg-150 padding-bottom-120">
							<div class="tt-section-inner tt-wrap max-width-1400 padding-top-xlg-150">

								<!-- Begin portfolio thumbnail list 
								==================================== 
								* Use class "ptl-thumb-overlap" to enable thumbnails overlap.
								-->
								<div class="portfolio-thumbnail-list ptl-thumb-overlap">
									<div class="ptl-inner">

										<% data.forEach(function(data, key) { %>

										<!-- Begin portfolio thumbnail list item 
										========================================= -->
										<a href="/branding-details/<%= data._id %>" class="ptl-item anim-fadeinup" data-cursor="View<br>Project">
											<div class="tt-row">
												<div class="tt-col-md-6">
													<div class="ptl-item-caption">
														<div class="ptl-item-caption-inner">
															<h2 class="ptl-item-title"><%= data.title %></h2>
															<div class="ptl-item-hover-title"><%= data.subtitle %></div>
														</div>
													</div> <!-- /.ptl-item-caption -->
												</div> <!-- /.tt-col -->

												<div class="tt-col-md-6">

													<!-- Begin thumbnails 
													======================
													Note 1: Recommended image size is a maximum of 180px wide, to ensure smooth operation of the animations and avoid long page loading! 
													Note 2: You can add up to 5 images! 
													-->
													<div class="ptl-item-thumbnails">
														<% data.attachments.splice(5, data.attachments.length - 5); %>
														<% data.attachments.forEach(function(file,key) { %>
															<% if(!['mp4', 'avi', 'mkv', 'mov'].includes(file.split('.').pop().toLowerCase())) { %>
																<div class="ptli-image">
																	<img src="/images/branding/<%= file %>" alt="image">
																</div>
															<% }; %>
														<% }); %>
													</div>
													<!-- End thumbnails -->

												</div> <!-- /.tt-col -->
											</div> <!-- /.tt-row -->
										</a>
										<!-- End portfolio thumbnail list item -->
										<% }); %>    
									</div> <!-- /.ptl-inner -->
								</div>
								<!-- End portfolio thumbnail list -->


								<!-- Begin tt-pagination (uncomment below code if you want to use pagination)
								========================= 
								* Use class "tt-pagin-center" to align center.
								-->
								<!-- <div class="tt-pagination tt-pagin-center margin-top-120 anim-fadeinup tt-wrap">
									<div class="tt-pagin-prev">
										<a href="" class="tt-pagin-item magnetic-item"><i class="fas fa-chevron-left"></i></a>
									</div>
									<div class="tt-pagin-numbers">
										<a href="#" class="tt-pagin-item magnetic-item active">1</a>
										<a href="" class="tt-pagin-item magnetic-item">2</a>
										<a href="" class="tt-pagin-item magnetic-item">3</a>
										<a href="" class="tt-pagin-item magnetic-item">4</a>
									</div>
									<div class="tt-pagin-next">
										<a href="" class="tt-pagin-item tt-pagin-next magnetic-item"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div> -->
								<!-- End tt-pagination -->

							</div> <!-- /.tt-section-inner -->
						</div>
						<!-- End tt-section -->


						<!-- =======================
						///// Begin tt-section /////
						============================ 
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
						<div class="tt-section padding-bottom-xlg-150">
							<div class="tt-section-inner tt-wrap">

							<!-- Begin page nav 
								==================== 
								* Use class "tt-pn-center" to align page nav to center.
								* Use class "tt-pn-stroke" to enable title stroke style.
								-->
								<div class="tt-page-nav tt-pn-stroke">
									<a href="contact.html" class="tt-pn-link anim-fadeinup" data-cursor='<i class="fas fa-envelope"></i>'> 
										<div class="tt-pn-title">Let's talk</div>
										<div class="tt-pn-hover-title">Let's talk</div>
									</a> <!-- /.tt-pn-link -->
									<div class="tt-pn-subtitle anim-fadeinup">Get in Touch</div>
								</div>
								<!-- End page nav -->

							</div> <!-- /.tt-section-inner -->
						</div>
						<!-- End tt-section -->


					</div>
					<!-- End page content -->
					

					<!-- ======================
					///// Begin tt-footer /////
					=========================== -->
					<footer id="tt-footer">
						<div class="tt-footer-inner">

							<!-- Begin footer column 
							========================= -->
							<div class="footer-col tt-align-center-left">
								<div class="footer-col-inner">

									<a href="#" class="tt-btn tt-btn-link scroll-to-top">
										<span class="tt-btn-icon"><i class="fas fa-arrow-up"></i></span>
										<div data-hover="Back to Top">Back to Top</div>
									</a>

								</div> <!-- /.footer-col-inner -->
							</div>
							<!-- Begin footer column -->

					

						</div> <!-- /.tt-section-inner -->
					</footer>
					<!-- End tt-footer -->


				</div>
				<!-- End content wrap -->

			</div>
			<!-- End scroll container -->


		</main>
		<!-- End body inner -->
        <%- include('./partials/footer'); %>